In [1]:
# python collection
# list 
# tuple
# dict
# set

In [2]:
# list
# -Indexing
# -Multiple and duplicte data
# -ordered
# -Mutable

In [3]:
a = list()
a = [1,2,3,4,5,6,7,8,9,0]
b = ["apple","banana","cat","dog"]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
['apple', 'banana', 'cat', 'dog']

In [6]:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["apple","banana","cat","dog"]
print(b[0])
print(b[0:5])
print(b[0:5:2])

apple
['apple', 'banana', 'cat', 'dog']
['apple', 'cat']

In [4]:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["apple","banana","cat","dog"]
c = a + b 
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'apple', 'banana', 'cat', 'dog']

In [5]:

b = ["apple","banana","cat","dog"]
print(b*2)

['apple', 'banana', 'cat', 'dog', 'apple', 'banana', 'cat', 'dog']

In [7]:
a = [1,2,3,4,5,6,7,8,9,0]
print(a*3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [8]:
# append() insert() extend()

In [9]:
b = ["apple","banana","cat","dog"]
b.append("cat")
print(b)

['apple', 'banana', 'cat', 'dog', 'cat']

In [11]:
#Create a listL

In [1]:
a= []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)

print(a)

Enter n =  4
Enter x =  435
Enter x =  3635
Enter x =  6456
Enter x =  636

[435, 3635, 6456, 636]

In [2]:
print("Min value = ", min(a))
print("Max value = ", max(a))
print("Sum value = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

Min value =  435
Max value =  6456
Sum value =  11162
[435, 636, 3635, 6456]
[6456, 3635, 636, 435]

In [2]:
b = ["apple","banana","cat","dog"]
b.sort()
print(b)

['apple', 'banana', 'cat', 'dog']

In [4]:
# insert
b = ["apple","banana","cat","dog"]
b.insert(1,"bat")
print(b)

['apple', 'bat', 'banana', 'cat', 'dog']

In [5]:
a = ["apple","banana","cat","dog"]
b = [1,2,3]
b.extend(b)
print(a)

['apple', 'banana', 'cat', 'dog']

In [8]:
# edit
b = ["apple","banana","cat","dog"]
b[0] = "Apple"
print(b)

['Apple', 'banana', 'cat', 'dog']

In [4]:
b = ["apple","banana","cat","dog"]
b[0:2] = ["Apple", "Banana"]
print(b)

['Apple', 'Banana', 'cat', 'dog']

In [5]:
# del remove() pop()
b = ["apple","banana","cat","dog"]
del b[0]
print(b)

['banana', 'cat', 'dog']

In [6]:
b = ["apple","banana","cat","dog"]
del b[0:2]
print(b)

['cat', 'dog']

In [7]:
a = ["apple","banana","cat","dog"]
a.remove("banana")
print(a)

['apple', 'cat', 'dog']

In [8]:
# pop()
b = ["apple","banana","cat","dog"]
a = b.pop(0)
print(a)
print(b)

apple
['banana', 'cat', 'dog']

In [9]:
# loop in list
b = ["apple","banana","cat","dog"]
for i in b:
    print(i)

apple
banana
cat
dog

In [11]:
b = ["apple","banana","cat","dog"]
print(len(b))

4

In [12]:
i = 0
b = ["apple","banana","cat","dog"]
l = len(b)
while i<l:
    print(b[i])
    i = i + 1

apple
banana
cat
dog

In [2]:
#list inside list(nested list)

In [3]:
l = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(l[0])

[1, 2, 3]

In [4]:
print(l[0][0])

1

In [10]:
l = [["Ram",34,"Kathmandu"],
     ["shyam",35, "mahendranagar"],
     ["Hari",57,"bani"]]
print(l)

[['Ram', 34, 'Kathmandu'], ['shyam', 35, 'mahendranagar'], ['Hari', 57, 'bani']]

In [11]:
#Wap to create a list inside the list

In [13]:
info= []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])

print(info)

Enter n =  3
Enter name =  Ram
Enter age =  24
Enter add =  Bani
Enter name =  Shyam
Enter age =  33
Enter add =  MNR
Enter name =  Hari
Enter age =  37
Enter add =  KTM

[['Ram', 24, 'Bani'], ['Shyam', 33, 'MNR'], ['Hari', 37, 'KTM']]

In [14]:
l = [["Ram",34,"Kathmandu"],
     ["shyam",35, "mahendranagar"],
     ["Hari",57,"bani"]]
l[0] = ["Ramesh",55,"KTM"]
print(l)

[['Ramesh', 55, 'KTM'], ['shyam', 35, 'mahendranagar'], ['Hari', 57, 'bani']]

In [1]:
l = [["Ram",34,"Kathmandu"],
     ["shyam",35, "mahendranagar"],
     ["Hari",57,"bani"]]
l[0][0] = "Ram parsad"
print(l)

[['Ram parsad', 34, 'Kathmandu'], ['shyam', 35, 'mahendranagar'], ['Hari', 57, 'bani']]

In [16]:
#delete
del l[0]

In [22]:
print(l)

[['Ram', 34, 'Kathmandu'], ['shyam', 35, 'mahendranagar'], ['Hari', 57, 'bani']]

In [24]:
a = ["Ram","Shyam","Ram","Hari","Hari"]
if "Ram"in a:
    print("yes", a.count("Ram"))

yes 2

In [3]:
#search
l = [["Ram",34,"Kathmandu"],["shyam",35, "mahendranagar"],["Hari",57,"bani"]]
name = input("Enter name = ")
for i in l:
    if name in i:
        print(i)

Enter name =  Ram

['Ram', 34, 'Kathmandu']

In [4]:
l = [["Ram",34,"Kathmandu"],["shyam",35, "mahendranagar"],["Hari",57,"bani"]]
name = input("Enter name = ")
for i in l:
    if name.lower() in i[0].lower():
        print(i)

Enter name =  ram

['Ram', 34, 'Kathmandu']

In [1]:
#Wap to remove  all multipe data from list
#l = ["Apple", "Banana", "cat","dog","apple"]

#Wap to find index of duplicate data from list
#l = ["Apple","Banana", "cat","dog","apple"]

In [6]:
l = ["apple","ball","cat","dog","apple"]
print(l)
l.remove("apple")
print(l)

['apple', 'ball', 'cat', 'dog', 'apple']
['ball', 'cat', 'dog', 'apple']