In [1]:
# String

In [3]:
a = " Hello World "
b = ' Hello WOrld '
c = '''Hello World '''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
a = "Hello "
b = "world"
c = a + b
print(c)

Hello world

In [5]:
a = " Heello world\n"
print(a*4)

 Heello world
 Heello world
 Heello world
 Heello world

In [6]:
a = "Hello World "
for i in a:
    print(i, end = "")

Hello World

In [2]:
# String slicing
a = " Hello World "
print(a[0])

In [4]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:11:2])

H
Hello
HloWrd

In [5]:
a = "Hello WOrld"
print(a[-1])
print(a[-1:-12:-1])
print(a[::-1])

d
dlrOW olleH
dlrOW olleH

In [7]:
a = "Hello World"
count = len(a)
print(count)

11

In [10]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i], end = "")

Hello World

In [11]:
i = 0
a = "Hello World"
l = len(a)
while i<l:
    print(a[i],end = "")
    i = i + 1

Hello World

In [12]:
# String formatting

In [16]:
name = "Ramesh"
age = 24
add = "kanchanpur"

info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Hello World I am Ramesh. I am from kanchanpur. I am 24

In [17]:
all_total = 0
info = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = qty * price
    info = info + f"{name} {price} {qty} {total}\n"
    all_total = all_total + total
    print(info)
    print(all_total)

Enter n = 3
Enter product name =  chauchau
Enter price =  20
Enter qty =  4

chauchau 20 4 80

80

Enter product name =  jhcjh
Enter price =  2
Enter qty =  3

chauchau 20 4 80
jhcjh 2 3 6

86

Enter product name =  hdjhd
Enter price =  376
Enter qty =  37

chauchau 20 4 80
jhcjh 2 3 6
hdjhd 376 37 13912

13998

In [22]:
# search in string
name = "Ram shyam hari amit parkash roshani ramesh"
search = input("Enter name =")
if search in name:
    print("yes",name.count(search))

else:
    print("no")

Enter name = ram

yes 1

In [26]:
# Search in string
name = "Ram shyam hari amit parkash roshani ramesh".lower()
search = input("Enter name =").lower()
if search in name:
    print("yes",name.count(search))

else:
    print("no")

Enter name = Ram

yes 2

In [28]:
name = "Ram Shyam Roshani Hari Rupesh dipa "
print(name.upper())
print(name.lower())
print(name)

RAM SHYAM ROSHANI HARI RUPESH DIPA
ram shyam roshani hari rupesh dipa
Ram Shyam Roshani Hari Rupesh dipa

In [29]:
# replace()
name = "Hari Shyam Ramesh SIta Gita"
name = name.replace("Hari","Harry")
print(name)

Harry Shyam Ramesh SIta Gita

In [4]:
# repalce()
name = "parkash bhandari Ramesh Roshani dipa Deepa "
name = name.replace("Ramesh","Hari")
print(name)

parkash bhandari Hari Roshani dipa Deepa

In [30]:
# replace or delete 
name = "Hari Shyam Ramesh SIta Gita"
name = name.replace("Hari","")
print(name)

 Shyam Ramesh SIta Gita

In [31]:
name = "Ram Shyam Roshani Hari Rupesh dipa "
name.split()

['Ram', 'Shyam', 'Roshani', 'Hari', 'Rupesh', 'dipa']